@use '../../../../../styles/variables/all' as all;
@use 'bulma/sass/utilities/mixins' as mixins with (
  $fullhd: all.$fullhd,
  $desktop: all.$desktop
);
.properties,
.relations {
  + div {
    margin-top: all.$column-gap;
  }
}

.card.is-single-card {
  @include mixins.desktop {
    padding-right: 25% !important;
    padding-left: 25% !important;
  }
  @include mixins.fullhd {
    padding-right: 33% !important;
    padding-left: 33% !important;
  }
}

.group-wrapper {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    background-image: url('../../../../../assets/images/dot.svg');
    background-repeat: repeat-y;
    content: '';
  }
}
.nested-item {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -2rem;
    width: 2rem;
    display: inline-block;
    background-image: url('../../../../../assets/images/dot.svg');
    background-repeat: repeat-y;
  }

  &:not(:last-child):before {
    bottom: calc(-4rem - 3px);
    height: calc(100% + 2rem);
  }
  &:after {
    content: '';
    position: absolute;
    top: calc(2rem - 1px);
    left: -2rem;
    width: 2rem;
    height: 4px;
    display: inline-block;
    background-image: url('../../../../../assets/images/dot.svg');
    background-repeat: repeat-x;
  }
}
