.td-touch {
  position: relative;
}
.touch-action-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: unset;
  height: 100%;
  background: $light;
  border-left: 1px solid $border-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: left 0.3s ease-in-out;

  .button {
    width: $touchButtonWidth;
    height: 100%;
    width: $touchButtonWidth;
    padding: 0;
    border-radius: 0;
  }

  &.has-2-items {
    width: 200%;
    &.is-open {
      left: -100%;
    }
    .touch-buttons {
      width: $touchButtonWidth;
    }
  }

  &.has-3-items {
    width: 300%;
    &.is-open {
      left: -200%;
    }
    .touch-buttons {
      width: #{$touchButtonWidth * 2};
    }
  }
}

.touch-buttons {
  position: absolute;
  top: 0;
  left: $touchButtonWidth;
  display: flex;
  height: 100%;

  > a {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: $touchButtonWidth;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
