// TODO: Add theme colors.
.is-color-1 {
  color: #fff;
  background-color: #f44336;
}

.is-color-2 {
  color: #fff;
  background-color: #9c27b0;
}

.is-color-3 {
  color: #fff;
  background-color: #3f51b5;
}

.is-color-4 {
  color: #fff;
  background-color: #2196f3;
}

.is-color-5 {
  color: #fff;
  background-color: #009688;
}

.is-color-6 {
  color: #fff;
  background-color: #4caf50;
}

.is-color-7 {
  color: #fff;
  background-color: #ff9800;
}

.is-color-8 {
  color: #fff;
  background-color: #607d8b;
}

.is-color-9 {
  color: #fff;
  background-color: #795548;
}

.is-color-10 {
  color: #fff;
  background-color: #9e9e9e;
}

.is-color-11 {
  color: #fff;
  background-color: #e91e63;
}

.is-color-12 {
  color: #fff;
  background-color: #673ab7;
}
