@use 'sass:math';
@use '../../../../../styles/variables/all' as va;
@use 'bulma/sass/utilities/mixins';

.wrapper {
  border: 1px solid va.$border;
  background-color: va.$white;
  padding: va.$gap;
  border-radius: va.$radius;
}

.content blockquote {
  border-left: 4px solid va.$link;
  background-color: va.$white;
}
