.bullet {
  height: $bullet-width;
  width: $bullet-width;
  margin-right: $margin-right;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  display: inline-block;
  border-radius: $bullet-width;
  background-color:  $link;
  &:last-child {
    margin-right: 0;
  }


  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    .is-#{$name} &:not(.is-grey) {
      background-color:  $color;
    }
  }
  &.is-grey {
    background-color: $grey-lighter;
  }
}

.text-status {
  position: relative;
  top: -2px;
  margin-right: 8px;
}
