
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

code {
    display: inline-block;
    padding: 1em 2em 1em;
    background-color: #303032;
    color: #f5f7f9;
    font-family: 'Fira Code', monospace;

}
