@import 'bulma/sass/utilities/functions';

$black: #000 !default; // Overload
$white: #fff !default; // Overload

$dark: #303032 !default; // Overload

$black-bis: $dark !default;
$black-ter: $dark !default;
$grey-darker: #39393c !default;
$grey-dark: #535356;
$grey: #a0a0a5 !default;
$grey-light: #dddde2 !default;
$grey-lighter: #eaeaef !default;
$white-ter: #f2f2f6 !default;
$white-bis: #f5f7f9 !default;

$link: $grey-darker !default;
$link-light: $white-bis !default;
$link-light-invert: findColorInvert($white-bis) !default;

$primary: #2430f0 !default;
$primary-light: #f0f1ff !default;
$primary-light-invert: findColorInvert($primary-light) !default;

$success: #57b3a0 !default;
$success-light: #eff7f5 !default;
$success-light-invert: findColorInvert($success-light) !default;

$info: #1eb1e8 !default;
$info-light: #ecf7fd !default;
$info-light-invert: findColorInvert($info-light) !default;

$warning: #f8a94a !default;
$warning-light: #fef6ee !default;
$warning-light-invert: findColorInvert($warning-light) !default;

$danger: #f46470 !default;
$danger-light: #fef0f1 !default;
$danger-light-invert: findColorInvert($danger-light) !default;

$border-color: $grey-lighter !default;

// Additional values

$link-alpha10: rgba($link, 0.1) !default;
$link-alpha07: rgba($link, 0.07) !default;
$link-alpha03: rgba($link, 0.03) !default;
$main-background: $white-bis !default;
$border-color-input: $link-alpha10 !default;

$color-0: #f9f54b !default;
$color-1: #8be8e5 !default;
$color-2: #a084e8 !default;
$color-3: #4f200d !default;
$color-4: #ff8080 !default;
$color-5: #f79bd3 !default;
$color-6: #ffc6ac !default;
$color-7: #dfa878 !default;
$color-8: #f4d160 !default;
$color-9: #35a29f !default;
$color-10: #99dbf5 !default;
$color-11: #e4a5ff !default;
$color-12: #f29727 !default;
$color-13: #41644a !default;
$color-14: #ea1179 !default;
