@import "bulma/sass/utilities/functions";

$black: #303032 !default; // Overload
$white: #fff !default; // Overload

$dark: $black !default; // Overload
$light: $white !default; // Overload

$black-bis: $dark !default;
$black-ter: $dark !default;
$grey-darker: #39393C !default;
$grey-dark: #535356;
$grey: #A0A0A5 !default;
$grey-light: #dddde2 !default;
$grey-lighter: #EAEAEF !default;
$white-ter: #F2F2F6 !default;
$white-bis: #F5F7F9 !default;

$link: #5c1ee8 !default;
$link-light: #eee8fd !default;
$link-light-invert: findColorInvert($link-light) !default;

$primary: #466b84 !default;
$primary-light: #f1f9ff !default;
$primary-light-invert: findColorInvert($primary-light) !default;

$success: #57b3a0 !default;
$success-light: #eff7f5 !default;
$success-light-invert: findColorInvert($success-light) !default;

$info: #1eb1e8 !default;
$info-light: #ecf7fd !default;
$info-light-invert: findColorInvert($info-light) !default;

$warning: #f8a94a !default;
$warning-light: #fef6ee !default;
$warning-light-invert: findColorInvert($warning-light) !default;

$danger: #f46470 !default;
$danger-light: #fef0f1 !default;
$danger-light-invert: findColorInvert($danger-light) !default;

$border-color: $grey-lighter !default;

// Additional values

$link-alpha10: rgba($link, 0.1) !default;
$link-alpha07: rgba($link, 0.07) !default;
$link-alpha03: rgba($link, 0.03) !default;
$main-background: $white-bis !default;
$border-color-input: $link-alpha10 !default;


$color-0: #F9F54B !default;
$color-0-invert: findColorInvert($color-0) !default;
$color-1: #8BE8E5 !default;
$color-1-invert: findColorInvert($color-1) !default;
$color-2: #A084E8 !default;
$color-2-invert: findColorInvert($color-2) !default;
$color-3: #4F200D !default;
$color-3-invert: findColorInvert($color-3) !default;
$color-4: #ff8080 !default;
$color-4-invert: findColorInvert($color-4) !default;
$color-5: #F79BD3 !default;
$color-5-invert: findColorInvert($color-5) !default;
$color-6: #FFC6AC !default;
$color-6-invert: findColorInvert($color-6) !default;
$color-7: #DFA878 !default;
$color-7-invert: findColorInvert($color-7) !default;
$color-8: #F4D160 !default;
$color-8-invert: findColorInvert($color-8) !default;
$color-9: #35A29F !default;
$color-9-invert: findColorInvert($color-9) !default;
$color-10: #99DBF5 !default;
$color-10-invert: findColorInvert($color-10) !default;
$color-11: #E4A5FF !default;
$color-11-invert: findColorInvert($color-11) !default;
$color-12: #F29727 !default;
$color-12-invert: findColorInvert($color-12) !default;
$color-13: #41644A !default;
$color-13-invert: findColorInvert($color-13) !default;
$color-14: #EA1179 !default;
$color-14-invert: findColorInvert($color-14) !default;
