// generic
$shadow:
  rgba($dark, 0) 0px 0px 0px 0px,
  rgba($dark, 0) 0px 0px 0px 0px,
  rgba($dark, 0.1) 0px 1px 3px 0px,
  rgba($dark, 0.1) 0px 1px 2px -1px !default;
$border-color: $white-ter !default;
$radius-large: 6px !default;
$link-hover: $primary !default;

// Body
$body-size: 10px !default;
$body-size-touch: 10.22px !default;

// Footer
$footer-padding: 1rem 0 !default;
$footer-height: 38px !default;

// Custom variables
$main-padding-horizontal: 110px !default;
$transition-duration: 0.18s !default;
$transition-timing: cubic-bezier(0.165, 0.84, 0.44, 1) !default;
