$icomoon-font-family: 'mnfst-icon' !default;
$icomoon-font-path: '/assets/fonts' !default;

$icon-dimensions: 1.5rem !default;
$icon-dimensions-small: 1rem !default;
$icon-dimensions-medium: 2.4rem !default;
$icon-dimensions-large: 2.8rem !default;

$icon-save: '\e98d';
$icon-chevron-down: '\e90c';
$icon-chevron-up: '\e90f';
$icon-x: '\e9aa';
$icon-upload-cloud: '\e9a6';
$icon-map-pin: '\e970';
$icon-arrow-right: '\e908';
$icon-check-circle: '\e92f';
$icon-edit: '\e914';
$icon-trash-2: '\e9a3';
$icon-plus: '\e98a';
$icon-eye: '\e94a';
$icon-external-link: '\e949';
