// Navbar
$navbar-background-color: $white !default;
$navbar-height: 0rem !default;
$navbar-item-color: $dark !default;
$navbar-item-hover-color: $link !default;
$navbar-item-active-color: $link !default;
$navbar-item-img-max-height: unset !default;

// Custom variables
$navbar-height-touch: 8rem !default;
$aside-width-tablet: 25% !default;
$aside-width-desktop: 244px !default;
$aside-width-widescreen: 20% !default;
$aside-width-fullhd: 304px !default;
$aside-width-collapsed: 77px !default;

$aside-border-width: 1px !default;

$sidenav-item-hover-color: $link-light !default;
$sidenav-item-color: $dark !default;
$sidenav-background-color: $navbar-background-color !default;
