$switch-background: $grey !default;
$switch-radius: $radius !default;
$switch-border: 1px solid transparent !default;
$switch-background-active: $link !default;
$switch-paddle-background: $white !default;
$switch-paddle-background-active: $link !default;
$switch-paddle-offset: 0.4rem !default;
$switch-paddle-transition: all 0.25s ease-out !default;
$switch-focus: 0 !default;
