@use 'sass:math';
@use '../../../../styles/variables/all' as all;
@use 'bulma/sass/utilities/mixins' as mixins;

%is-hovered {
  background-color: all.$sidenav-item-hover-color;
  color: all.$black;
}

.menu-list {
  --logo-height: 94px;
  --footer-height: 54px;
  --margin: 16px;
  scrollbar-width: none;
  padding-top: var(--margin);
  padding-bottom: var(--margin);
  margin-bottom: var(--footer-height);
  overflow-y: overlay;
  overflow-x: hidden;

  @include mixins.desktop {
    height: calc(
      100vh - var(--logo-height) - var(--footer-height) + 1px - 220px
    );
  }

  @include mixins.touch {
    height: calc(
      100vh - #{all.$navbar-height-touch} - var(--footer-height) + 1px - 220px
    );
  }

  li {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: all.$size-5;
    padding: 1px math.div(all.$column-gap, 2);

    ul {
      margin: 5px 0 0;
      border-left: 0;
      padding-left: 0;

      li {
        padding: 0;
      }
    }
  }

  a {
    $item-min-height: 36px !default;
    border-radius: all.$radius;
    position: relative;
    color: all.$sidenav-item-color;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: $item-min-height;
    line-height: $item-min-height;
    padding: 0 all.$column-gap;
    transition:
      color 0.35s ease,
      background-color 0.05s ease-out;

    &:hover {
      @extend %is-hovered;
      transition:
        color 0.35s ease,
        background-color 0.05s ease-in;
    }

    &.is-active {
      @extend %is-hovered;

      &:before {
        background-color: all.$link;
      }
    }

    &.logo {
      display: flex;
      align-items: center;
      height: 98px;
      justify-content: flex-start;
    }
  }
}

.logo-wrapper {
  padding: 1.6rem;
  border-bottom: 1px solid all.$border-color;
}

.flex {
  display: flex;
}

app-user-menu-item {
  border-top: 1px solid all.$border-color;
  border-right: 1px solid all.$border-color;
  z-index: 99;
  padding: 8px;

  @include mixins.tablet {
    position: fixed;
    bottom: 0;
  }
}

.side-menu-wrapper {
  height: 100%;
}
