*:focus {
  outline: none;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;

  @include touch {
    font-size: $body-size-touch;
  }

  &.is-clipped {
    position: fixed;
    overflow: hidden !important;

    body {
      position: fixed;
      overflow: hidden !important;
    }
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  overflow: hidden;
  background: $main-background;
  color: $dark;
  font-size: $size-7;
}

app-root > .wrapper {
  padding: 0 #{$column-gap};
  width: 100vw;
}

app-root > .wrapper,
.aside {
  min-height: calc(100vh - #{$navbar-height} + #{$column-gap});

  @include touch {
    min-height: calc(100vh - #{$navbar-height-touch} + #{$column-gap});
  }
}

.section {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

aside {
  position: fixed;
  max-height: calc(100vh - #{$navbar-height} + #{$gap});
  transition: all $transition-duration $transition-timing;
  border-right: 1px solid $border-color;
}

main {
  transition: all $transition-duration $transition-timing;

  margin-top: $gap;
  padding-bottom: $gap;
  min-height: calc(100vh - #{$version-checker-height} - #{$gap});
  @include touch {
    min-height: calc(
      100vh - #{$version-checker-height} - #{$gap} - #{$navbar-height-touch}
    );
  }
}

.version-checker {
  min-height: #{$version-checker-height};

  &__content {
    @include touch {
      flex-direction: column;
      text-align: center;
    }
  }
}

.pointer {
  cursor: pointer;
}

.is-borderless {
  border: 0;
}

.is-overflow-hidden {
  overflow: hidden;
}

.wrapper--basic {
  height: calc(100vh - 112px);
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin-bottom: 2rem;
  }
}
