@keyframes loadingAnimation {
  0% {
    background-color: $white-ter;
  }

  66% {
    background-color: $white;
  }

  100% {
    background-color: $white-ter;
  }
}
@-webkit-keyframes loadingAnimation {
  0% {
    background-color: $white-ter;
  }

  66% {
    background-color: $white;
  }

  100% {
    background-color: $white-ter;
  }
}

.is-loading {
  width: 100%;
  height: auto;

  > * {
    background-color: $white-ter;
    -webkit-animation-name: loadingAnimation;
    animation-name: loadingAnimation;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
  }
  > div {
    width: 100%;
    height: 50px;
    margin-bottom: 1px;
    border-bottom: $table-cell-border;
  }

  > .list-meta {
    display: inline-block;
    width: 140px;
    height: 9px;
    margin-bottom: 7px;
  }
}
