.aside {
  background: $sidenav-background-color;
  flex: none;

  @include tablet {
    width: $aside-width-tablet;
  }

  @include desktop {
    width: $aside-width-desktop;
  }

  @include widescreen {
    width: $aside-width-widescreen;
  }

  @include fullhd {
    width: $aside-width-fullhd;
  }

  .is-collapsed & {
    width: 78px !important;
  }
}

.dropdown-trigger:after {
  @extend %icon;
  @extend .icon-chevron-down;
}

.navbar {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    border-bottom: 1px solid $border-color;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      left: calc(#{$aside-width-tablet} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-tablet} - #{$aside-border-width});
    }

    @include desktop {
      left: calc(#{$aside-width-desktop} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-desktop} - #{$aside-border-width});
    }

    @include widescreen {
      left: calc(#{$aside-width-widescreen} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-widescreen} - #{$aside-border-width});
    }

    @include fullhd {
      left: calc(#{$aside-width-fullhd} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-fullhd} - #{$aside-border-width});
    }

    .is-collapsed & {
      left: $aside-width-collapsed;
      width: calc(100% - #{$aside-width-collapsed});
    }
  }

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar {
  float: left;
}

.collapse-button {
  position: absolute;
  top: 50.5px;
  z-index: 9;
  transition: all $transition-duration $transition-timing;

  .icon-chevrons-left {
    transition: all $transition-duration $transition-timing;
  }

  &:not(.is-collapsed) {
    @include desktop {
      left: calc(#{$aside-width-desktop} - 18px);
    }

    @include widescreen {
      left: calc(#{$aside-width-widescreen} - 18px);
    }

    @include fullhd {
      left: calc(#{$aside-width-fullhd} - 18px);
    }
  }

  &.is-collapsed {
    left: calc(78px - 18px);

    .icon-chevrons-left {
      transform: rotate(180deg);
    }
  }
}

a {
  height: 100%;
  width: 100%;
}


li a {

  i + span,
  span + i {
    opacity: 1;
    visibility: visible;
    transition: opacity $transition-duration $transition-timing .18s, visibility 0.01s linear;

    .is-collapsed & {
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition-duration $transition-timing, visibility 0.01s linear .18s;
    }
  }
}

aside .has-submenu + ul {
  .is-collapsed & {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 9;
    background: $sidenav-background-color;
    box-shadow: 10px 10px 20px rgba(48, 48, 50, 0.07);

    li a {
      padding-left: $gap !important;
    }
  }

  .wrapper:not(.is-collapsed) & {
    li a {
      padding-left: 5.8rem !important;
    }
  }
}

.navbar-burger {
  @include desktop {
    display: block;
    margin: unset;
  }
}
