.aside {
  background: $sidenav-background-color;
  flex: none;

  @include tablet {
    width: $aside-width-tablet;
  }

  @include desktop {
    width: $aside-width-desktop;
  }

  @include widescreen {
    width: $aside-width-widescreen;
  }

  @include fullhd {
    width: $aside-width-fullhd;
  }
}

.dropdown-trigger:after {
  @extend %icon;
  @extend .icon-chevron-down;
}

.navbar {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    height: 100%;
    border-bottom: 1px solid $border-color;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      left: calc(#{$aside-width-tablet} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-tablet} - #{$aside-border-width});
    }

    @include desktop {
      left: calc(#{$aside-width-desktop} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-desktop} - #{$aside-border-width});
    }

    @include widescreen {
      left: calc(#{$aside-width-widescreen} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-widescreen} - #{$aside-border-width});
    }

    @include fullhd {
      left: calc(#{$aside-width-fullhd} + #{$aside-border-width});
      width: calc(100% - #{$aside-width-fullhd} - #{$aside-border-width});
    }
  }

  > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar {
  float: left;
}

a {
  height: 100%;
  width: 100%;
}

li a {
  i + span,
  span + i {
    opacity: 1;
    visibility: visible;
    transition:
      opacity $transition-duration $transition-timing 0.18s,
      visibility 0.01s linear;
  }
}

aside .has-submenu + ul {
  li a {
    padding-left: 4.5rem !important;
  }
}

.navbar-burger {
  @include desktop {
    display: block;
    margin: unset;
  }
}

app-user-menu-item,
.ad {
  background-color: $white;

  @include desktop {
    width: $aside-width-desktop;
  }

  @include widescreen {
    width: $aside-width-widescreen;
  }

  @include fullhd {
    width: $aside-width-fullhd;
  }
}

.ad {
  bottom: 53px;
  position: fixed;
  padding: 8px;
  background: transparent;

  @include tablet-only {
    width: $aside-width-tablet;
    padding-right: 0;
  }
  @include mobile {
    width: 100%;
  }
}
