.aside {
  background: $sidenav-background-color;
  flex: none;
  @include aside-width;
}

.sidebar {
  float: left;
}

.dropdown-trigger:after {
  @extend %icon;
  @extend .icon-chevron-down;
}

a {
  height: 100%;
  width: 100%;
}

li a {
  i + span,
  span + i {
    opacity: 1;
    visibility: visible;
    transition:
      opacity $transition-duration $transition-timing 0.18s,
      visibility 0.01s linear;
  }
}

aside .has-submenu + ul {
  li a {
    padding-left: 32px !important;
  }
}

app-user-menu-item,
.ad {
  background-color: $white;
  @include aside-width;
  @include tablet-only {
    width: 260px;
  }
}

.ad {
  bottom: 53px;
  position: fixed;
  padding: 8px;
  background: transparent;

  @include tablet-only {
    width: 260px;
  }
  @include mobile {
    width: 100%;
  }
}
