.spinner {
  display: block;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  position: relative;
  border: 1.5px solid $dark;
  animation: cssload-loader 3.2s infinite ease;
}

.spinner-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: $dark;
  animation: cssload-loader-inner 3.2s infinite ease-in;
}

@keyframes cssload-loader {
  0%,
  50% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0%,
  25%,
  100% {
    height: 0%;
  }
  50%,
  75% {
    height: 100%;
  }
}
