thead {
  white-space: nowrap;
}

th {
  white-space: nowrap;
  text-transform: uppercase;
}

table {
  border-radius: $card-radius;
}

td,
th {
  vertical-align: middle !important;

  &:first-child {
    padding-left: $gap;
  }

  &:last-child {
    padding-right: $gap;
  }
}

.has-detail-link {
  cursor: pointer;
  color: $primary;

  span {
    @include underlined-text;
  }
}
