table {
  border-radius: $card-radius;
  font-size: $size-7;
  @include fullhd {
    font-size: $size-6;
  }
}

thead {
  white-space: nowrap;
}

th {
  white-space: nowrap;
  font-weight: $weight-bold;

  text-transform: uppercase;
}

td,
th {
  vertical-align: middle !important;

  &:first-child {
    padding-left: $gap;
  }

  &:last-child {
    padding-right: $gap;
  }
}

.has-detail-link {
  cursor: pointer;
  color: $primary;

  span {
    @include underlined-text;
  }
}
