.content.is-small {
  letter-spacing: 0.4px;
}

.is-small {
  font-size: $size-small;
}

.title {
  color: $dark;
}

h1.title.is-2 {
  > .icon {
    position: relative;
    top: 1.5px;
  }
}

h1,
.title.is-1,
.h1 {
  font-weight: $weight-light;

  @include touch {
    font-size: 3.2rem;
  }
}

hr {
  height: 1px;
  background-color: $border-color;
}

a {
  color: $primary;
  cursor: pointer;

  &[disabled] {
    cursor: no-drop;
    pointer-events: none;
    color: $grey-light;
  }

  .is-default & {
    cursor: default;
  }

  .main &:not(.card--link) {
    span {
      @include underlined-text;
    }
  }
}

*[routerLink],
*[href],
*[ng-reflect-router-link] {
  cursor: pointer;
}
.tooltip {
  &:before {
    background-color: $dark !important;
    border: 1px solid $dark;
    color: $light !important;
    font-size: 1.3rem !important;
    z-index: 99;
  }
}

.is-nowrap {
  white-space: nowrap;
}

app-link-yield {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
