@import '../../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

.dropdown-trigger > a {
  @include touch {
    width: 39px;
    height: 100%;
    display: inline-flex;
    box-sizing: content-box;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
  }
  @include mobile {
    margin-right: 30px;
  }
}
