@use '../../../../styles/variables/all' as all;

@use 'bulma' with (
  $tablet: all.$tablet,
  $radius: all.$radius
);

@use 'bulma/sass/utilities/mixins' as mixins;

.dropdown-trigger {
  max-width: 100%;
  min-width: 100%;

  > a {
    @include mixins.touch {
      width: 100%;
      height: 100%;
      display: inline-flex;
      box-sizing: content-box;
      align-items: center;
      justify-content: center;
      margin-right: 32px;
      // test
      position: relative;
      &:after {
        display: inline-block;
        position: relative;
        content: 'tablet is #{all.$tablet}';
      }
    }

    @include mixins.mobile {
      margin-right: 30px;
    }
  }
}

.dropdown {
  max-width: 100%;
  min-width: 100%;
}

.dropdown-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.avatar {
  border-radius: all.$radius;
}
