// Box shadow
@mixin shadow($shadow-color: $black) {
  box-shadow: 0 42px 64px rgba($shadow-color, 0.16);
}

// Checkboxes and radio buttons
@mixin checkbox-radio-styles {
  display: block;
  position: relative;
  padding-left: $checkbox-spacing;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.is-checked .checkmark {
    background-color: $light;
    box-shadow: $checkbox-box-shadow-width $link inset;

    &:after {
      display: block;
    }
  }

  &.is-checked:focus .checkmark {
    box-shadow: $checkbox-box-shadow-width $link inset;
  }

  &:focus .checkmark {
    box-shadow: $checkbox-box-shadow-width rgba($grey, 0.75) inset;
  }

  &:hover .checkmark {
    box-shadow: $checkbox-box-shadow-width rgba($grey, 0.75) inset;
  }

  &.is-checked:hover .checkmark {
    box-shadow: $checkbox-box-shadow-width $link inset;
  }

  &.is-disabled {
    cursor: not-allowed;

    &.is-checked .checkmark {
      box-shadow: $disabled-checkbox-shadow;
      background-color: transparent;
    }

    &:hover .checkmark {
      box-shadow: 0 0 0 1px $input-disabled-color inset;
    }

    &.is-checked:hover .checkmark {
      box-shadow: $disabled-checkbox-shadow;
    }
  }
}

@mixin underlined-text {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: $primary;
    bottom: -1px;
    width: 100%;
    height: 1px;
  }
}

// Dynamic width management
@mixin aside-width {
  @include tablet {
    width: $aside-width-tablet;
  }
  @include desktop {
    width: $aside-width-desktop;
  }
  @include widescreen {
    width: $aside-width-widescreen;
  }
  @include fullhd {
    width: $aside-width-fullhd;
  }
}

// Navbar display
@mixin navbar-display {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  border-bottom: 1px solid $border-color;

  @include mobile {
    width: 100%;
  }
  @include tablet {
    left: calc(#{$aside-width-tablet} + #{$aside-border-width});
    width: calc(100% - #{$aside-width-tablet} - #{$aside-border-width});
  }
  @include desktop {
    left: calc(#{$aside-width-desktop} + #{$aside-border-width});
    width: calc(100% - #{$aside-width-desktop} - #{$aside-border-width});
  }
  @include widescreen {
    left: calc(#{$aside-width-widescreen} + #{$aside-border-width});
    width: calc(100% - #{$aside-width-widescreen} - #{$aside-border-width});
  }
  @include fullhd {
    left: calc(#{$aside-width-fullhd} + #{$aside-border-width});
    width: calc(100% - #{$aside-width-fullhd} - #{$aside-border-width});
  }
}
