@import '../../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

footer {
  height: $footer-height;
}

img {
  position: relative;
  top: 4px;
  margin-left: 4px;
  margin-right: 2px;
}
