@use '../../../../styles/variables/all' as all;
@use 'bulma/sass/utilities/mixins' as mixins;

footer {
  height: all.$footer-height;
}

img {
  position: relative;
  top: 4px;
  margin-left: 4px;
  margin-right: 2px;
}
