@use '../../../styles/variables/all' as all;
@use 'bulma/sass/utilities/mixins' as mixins;

.is-entity-link {
  height: 64px;
  display: flex;
  align-items: center;
}

.card-link {
  border-color: all.$border;
  transition: border-color 0.54s all.$transition-timing;

  span:before {
    display: none;
  }

  &:hover .card {
    transition: border-color 0.54s all.$transition-timing;
    color: all.$black;
    border-color: all.$link;
  }
}

.collection {
  border: 1px solid green;
}

.collection a {
  text-decoration: underline;
}
