@import '../../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

nav.navbar {
  position: relative;
  z-index: 9;
  height: $navbar-height-touch;
  width: 100vw;
  background-color: $sidenav-background-color;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba($sidenav-item-color, 0.1);

    @include tablet {
      left: 0;
      width: 100%;
    }
  }

  .logo {
    margin-right: $navbar-height-touch;
  }


  .navbar-burger {
    height: $navbar-height-touch;
    width: 8rem;
    min-width: 8rem;
    color: $sidenav-item-color;

    @include tablet {
      width: $navbar-height-touch;
    }

    &:hover {
      background-color: transparent;
      color: $sidenav-item-color;
    }
  }

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $navbar-height-touch;
    width: $navbar-height-touch;
  }
}

.dashboard-title {
  display: inline-block;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  color: $dark;
}

.navbar-item img {
  max-height: unset;
}

//_ Dropdown

.drop--down {
  left: unset;
  right: 0;
  top: 30px;

  &:after {
    content: '';
    position: absolute;
    top: -1px;
    right: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: rgba($sidenav-item-color, 0.1) transparent;
  }

  &:before {
    content: '';
    position: absolute;
    top: -2px;
    right: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px;
    border-color: rgba($sidenav-item-color, 0.1) transparent;
  }
}

.buttons {
  padding-right: 110px;
}

.dropdown-menu.is-small {
  border: 1px solid $border-color;
}

.navbar-menu {
  display: block;
  height: calc(100vh - #{$navbar-height-touch});
  width: 260px;
  position: absolute;
  top: $navbar-height-touch;
  left: -261px;
  z-index: 99999;
  opacity: 0;
  box-shadow: 1px 0 0 0 rgba($sidenav-background-color, 0.1);
  padding-bottom: 0;
  background-color: $sidenav-background-color;
  transition: all 0.16s cubic-bezier(0.53, 0.25, 0.75, 0.5);

  @include mobile {
    width: 100vw;
    left: -100vw;
  }

  .is-open & {
    left: 0;
    opacity: 1;
    transition: all 0.16s cubic-bezier(0.25, 0.53, 0.42, 0.71);
  }
}

.navbar-end {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu-list--bottom {
    li:last-child {
      border-top: 1px solid rgba($sidenav-item-color, 0.1);
    }
  }
}

.hiding-layer {
  display: block;
  position: absolute;
  top: $navbar-height-touch;
  left: 0;
  width: 100vw;
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  height: calc(100vh - #{$navbar-height-touch});
  background: $dark;
  transition: opacity 0.16s ease-in-out, visibility 0.01s linear 0.16s;

  .is-open & {
    opacity: 0.2;
    visibility: visible;
    transition: opacity 0.16s ease-in-out 0.01s, visibility 0.01s linear;
  }
}

app-side-menu {
  height: 100%;
}
