@use '../../../../styles/variables/all' as all;
@use 'bulma/sass/utilities/mixins' as mixins;

nav.navbar {
  position: relative;
  z-index: 9;
  height: all.$navbar-height-touch;
  width: 100vw;
  background-color: all.$sidenav-background-color;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgba(all.$sidenav-item-color, 0.1);

    @include mixins.tablet {
      left: 0;
      width: 100%;
    }
  }

  .logo {
    margin-right: all.$navbar-height-touch;
  }

  .navbar-burger {
    height: all.$navbar-height-touch;
    width: 8rem;
    min-width: 8rem;
    color: all.$sidenav-item-color;

    @include mixins.tablet {
      width: all.$navbar-height-touch;
    }

    &:hover {
      background-color: transparent;
      color: all.$sidenav-item-color;
    }
  }
}

.navbar-item img {
  max-height: unset;
}

//_ Dropdown

.buttons {
  padding-right: 110px;
}

.dropdown-menu.is-small {
  border: 1px solid all.$border-color;
}

.navbar-menu {
  display: block;
  height: calc(100vh - #{all.$navbar-height-touch});
  width: 260px;
  position: absolute;
  top: all.$navbar-height-touch;
  left: -261px;
  z-index: 99999;
  opacity: 0;
  box-shadow: 1px 0 0 0 rgba(all.$sidenav-background-color, 0.1);
  padding-bottom: 0;
  background-color: all.$sidenav-background-color;
  transition: all 0.16s cubic-bezier(0.53, 0.25, 0.75, 0.5);

  @include mixins.mobile {
    width: 100vw;
    left: -100vw;
  }

  .is-open & {
    left: 0;
    opacity: 1;
    transition: all 0.16s cubic-bezier(0.25, 0.53, 0.42, 0.71);
  }
}

.navbar-end {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hiding-layer {
  display: block;
  position: absolute;
  top: all.$navbar-height-touch;
  left: 0;
  width: 100vw;
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  height: calc(100vh - #{all.$navbar-height-touch});
  background: all.$dark;
  transition:
    opacity 0.16s ease-in-out,
    visibility 0.01s linear 0.16s;

  .is-open & {
    opacity: 0.2;
    visibility: visible;
    transition:
      opacity 0.16s ease-in-out 0.01s,
      visibility 0.01s linear;
  }
}

app-side-menu {
  height: 100%;
}
