@import '../../../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

.container {
  max-width: 100%;
  width: 100%;
}

.hero.is-fullheight {
  min-height: calc(100vh - 26.6px - #{$gap * 2} - 11px);
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  bottom: unset;
}

.col-login {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100vh;

  @include touch {
    width: 66.66667%;
  }
  @include mobile {
    width: 100%;
  }

  @include desktop {
    width: 40%;
  }

  @include widescreen {
    width: 33.33333%;
  }

  > div {
    margin: auto;
    margin: auto;

    @include widescreen {
      max-width: 482px;
      min-width: 382px;
    }
    @include desktop {
      max-width: 424px;
      min-width: 360px;
    }
    @include tablet {
      max-width: 100%;
      min-width: 43%;
    }
    @include mobile {
      min-width: 50%;
      max-width: 380px;
    }
  }
}

@-webkit-keyframes bg {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(-33deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}

@keyframes bg {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(-33deg);
  }
  100% {
    filter: hue-rotate(0);
  }
}

// Mouvements up to bottom
@-webkit-keyframes upAndDown {
  0% {
    top: -15rem;
  }
  50% {
    top: -11rem;
  }

  100% {
    top: -15rem;
  }
}

@keyframes upAndDown {
  0% {
    top: -15rem;
  }
  50% {
    top: -11rem;
  }

  100% {
    top: -15rem;
  }
}
.col-decoration {
  flex: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  background: $link;
  -webkit-animation-name: bg;
  animation-name: bg;
  -webkit-animation-duration: 24s;
  animation-duration: 24s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  overflow: hidden;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include touch {
    width: 33.33333%;
  }
  @include mobile {
    display: none;
  }
  @include widescreen {
    width: 66.66666%;
  }

  .drawing {
    width: 33%;
    @include touch {
      width: 80%;
    }
  }
}
