@import '../../../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';
@import '../../../../../styles/layout/auth';

.col-login {
  @extend .auth-column;

  @include touch {
    width: 66.66667%;
  }

  @include mobile {
    width: 100%;
  }

  @include desktop {
    width: 40%;
  }

  @include widescreen {
    width: 33.33333%;
  }
}

.col-decoration {
  width: 60%;

  @include touch {
    width: 33.33333%;
  }

  @include widescreen {
    width: 66.66666%;
  }
}
