@use 'sass:math';
@import '../../../../styles/helpers/helpers';
@import '../../../../styles/variables/all';
@import 'bulma/sass/utilities/mixins';

.navbar {
  position: relative;
  height: $navbar-height;

  &:before {
    @include navbar-display;
  }

  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: none;
    width: 100%;
    background-color: $sidenav-background-color;

    @include desktop {
      width: calc(#{$aside-width-desktop} + 1px);
    }
    @include widescreen {
      width: calc(#{$aside-width-widescreen} + 1px);
    }
    @include fullhd {
      width: calc(#{$aside-width-fullhd} + 1px);
    }
  }
}

// Navbar burger
.navbar-burger {
  @include desktop {
    display: block;
    margin: unset;
  }
}
